<html>
	<head>
		{% include '/vistas/head.html' %}
	</head>
	<body>
		{% include '/vistas/header.html' %}
		{% include '/vistas/menu.html' %}
		<form action="/grabarPeriodo" method="post">
			<h1>Agregar Periodo</h1> 
			<div>Descripción: <input type="text" name="descripcion" /></div>
			
			<div>Fecha de inicio: <input id="date1" type="text" name="fechaInicio" /></div>
			<div>Fecha de termino: <input id="date2" type="text" name="fechaFin" /></div>
			<div>
				<label class="select">¿Es periodo actual?
					<select name="actual">
						<option value='1' >Si</option>
						<option value='0' >No</option>
					</select>
				</label>
			</div>
			<div><input type="submit" value="Guardar Periodo"></div>
		</form>
	</body>
	<link href="/includes/stylesheet.css" rel="stylesheet" type="text/css"/>
	<link href="/includes/jquery-ui-1.9.1.custom.min.css" rel="stylesheet" type="text/css"/>
	<script language="JavaScript" src="/includes/jquery.js"></script>
	<script language="JavaScript" src="/includes/jquery-ui-1.9.1.custom.min.js"></script>
	<script language="JavaScript" src="/includes/date-time.js"></script>
	<script language="JavaScript" src="/includes/agregarPeriodo.js"></script>
</html>
