<html>
	<head>
	{% include '/vistas/head.html' %}
	</head>
	<body> 
		{% include '/vistas/header.html' %}
		{% include '/vistas/menu.html' %}
		<table border="1" > 
			<tr>
				<th width="300">tipo</th>
				<th>nombre</th>
				<th>matricula</th>
				<th>password</th>
				<td>.</td>
				<td>.</td>
			</tr>
			{% for u in usuarios %}  
			<tr>
				<td>{{ u.tipo }}</td>
				<td>{{ u.nombre }}</td>
				<td>{{ u.matricula }}</td>
				<td>{{ u.password }}</td>
				<td><a href=/editaUsuario?key={{u.key()}}>Edita</a></td>
				<td><a href=/eliminaUsuario?key={{u.key()}}>Eliminar</a></td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
